
body {
    font-family: Arial, sans-serif;
    background-color: #3a3b3d;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #007BFF;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="password"],
.login-form input[type="email"],
.login-form input[type="submit"],
.login-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-form textarea {
    resize: vertical;
}

.login-form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.clickable {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}